* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(170, 100%, 26%);
  --secundary-color: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --headline: hsl(210, 11%, 15%);

  --brand-beige: hsl(39, 100%, 97%);
  --header-color: hsl(148, 23%, 89%);

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
}

header {
  width: 37.5rem;
  margin-top: 4.1rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.4rem;
  line-height: 130%;
  color: var(--headline);
  margin-bottom: 2.4rem;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
}

button {
  width: 26.3rem;
  height: 5.2rem;
  border: none;
  border-radius: 4rem;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  color: white;
  background-color: var(--primary-color);
  text-transform: uppercase;
}

.stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;
  background-color: var(--brand-beige);

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 6rem;

  border: 1px solid hsl(148, 23%, 89%);
  border-radius: 0.6rem;
}

.stat h3 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 130%;
  color: var(--headline);
  margin-bottom: 0.4rem;
}

.stat p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-color);
  margin: 0;
  line-height: 150%;
}

header > img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}
